body {
  background-color: #1a1a1a;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
  height: 100vh;

  transition-duration: 0.4s;
}

body.center {
  display: flex;
  justify-content: center;
  overflow: hidden;
  user-select: none;
}

body.center img {
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;

  transition: all 0.3s ease-in-out;
}

body.center:after {
  content: "";
  background: #ffffffaa;
  display: block;
  position: absolute;
  /* padding: 0;
  margin: 0; */
  opacity: 0;
  padding-top: 300%;
  padding-left: 350%;
  transition: all 0.4s;
}

body.center:active:after {
  opacity: 1;
  transition: 0s;
}

h1 {
  color: #ff6b6b;
  font-size: 3em;
}

h2 {
  color: #ffd93d;
}

.hidden {
  opacity: 0;
  height: 0;
}