html:not(.scrollable) {
  overflow: hidden;
}

body {
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  font-family: Comic Sans MS;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0;
  height: 100vh;

  transition-duration: 0.4s;
}

body.center {
  padding: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  user-select: none;
}

body.center img {
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;

  &:not(.hidden) {
    transition: all 0.3s ease-in-out;
  }
}

body.center:after {
  content: "";
  background: #d0d0d081;
  display: block;
  position: absolute;
  /* padding: 0;
  margin: 0; */
  opacity: 0;
  padding-top: 300%;
  padding-left: 350%;
  transition: all 0.25s;
}

body.center:active:after {
  opacity: 1;
  transition: 0s;
}

h1 {
  color: #ff6b6b;
  font-size: 3em;
}

h2 {
  color: #ffd93d;
}

.blur,
.popup {
  backdrop-filter: blur(8px);
}

.popup {
  position: absolute;
  transition-duration: 0.4s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  .popup-container {
    position: absolute;
    background-color: #fff;
    max-width: max-content;
    padding: 1.5rem;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    h2 {
      border-radius: 15px;
      border: 2px solid #ff6b6b;
      font-size: 2rem;
      text-align: center;
      background-color: #1a1a1a;
      margin-bottom: 0;
      padding: 1.25rem;
    }
  }
}

.hidden,
.hidden * {
  opacity: 0;
  height: 0;
}

body div.header {
  align-items: center;

  &.master {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &>* {
      flex: 1 1;
    }
  }
}

.flex-center {
  display: flex;
  justify-content: center;
}

#start-button {
  font-size: 2rem;
  color: #fff;
  background-color: #ff6b6b;
  padding: 1rem 3rem;
  border-radius: 50px;
  transition-duration: 0.2s;
}

#start-button:hover {
  background-color: #ff6b6b6b;
}

.banner {
  position: absolute;
  transition-duration: 0.4s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;

  .banner-container {
    position: absolute;
    max-width: max-content;
    padding: 1.5rem;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
  }
}

.bodyStat {
  max-width: 900px;
  margin: auto;
  padding: 16px;
}

/* HEADER */
.header {
  text-align: center;
  margin-bottom: 20px;
}

/* POSITION AU MILIEU */
.position-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.result-pos {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* CONTENEURS DES RESULTATS */
.container {
  color: #1a1a1a;
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

/* RESULTATS */
.result {
  flex: 1;
  padding: 5%;
  background: #f3f3f3;
  border-radius: 8px;
  text-align: center;
  margin: 5%;
}

/* 📱 MOBILE */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .result-pos {
    text-align: center;
  }
}

.button-menu {
  justify-content: center;
}

.button-return {
  padding: 5%;
  font-size: 1em;
}

.score-container {
  position: absolute;
  background-color: #1a1a1aaa;
  border-radius: 0 0 15px 15px;
  padding: 1em;
  font-size: 1.3em;
  z-index: 1;
}